#map {
<<<<<<< HEAD
    min-height:380px;
}
=======
    min-height:410px;
}



>>>>>>> origin/master
.infoWindowContent {
    font-size:  14px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
h2 {
    margin-bottom:0;
    margin-top: 0;
}